*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5;
    padding: 2rem;
    
}

.ylatunniste{
    border: dotted 1px black;
    padding: 0.5rem;
}

#rinnakkain {
    border-left: dotted 1px black;
    border-right: dotted 1px black;
    padding: 0.5rem;
    display: flex;
}



#footer{
    border: dotted 1px black;
    padding: 0.5rem;
}
